<header>
    <div >
        <a href="/">
        <img class="logo" src="/images/GameZoneLogo.svg" alt="">
        </a>
    </div>
    <div class="right-header">
        <form class="search-bars" action="">
            <input  type="text">
            <i class="fas fa-search"></i>
        </form>
        
        <button class="search-button">
            <i class="fas fa-bars"></i>
        </button>

        <div class="links">
            <ul>
                <a href="/products"><li>Shop</li></a>
                <a href="/categories"><li>Categorias</li></a>
                <a href="/aboutUs"><li>Nosotros</li></a>
                <a href="/users/register"><li>Registrarse</li></a>
                <a href="/users/login"><li>Iniciar Sesión</li></a>
            </ul>
        </div>
    </div>
</header>