<header>
    <div >
        <a href="/">
        <img class="logo" src="/images/GameZoneLogo.svg" alt="logo">
        </a>
    </div>
    <div class="right-header">
        <form class="search-bars" action="">
            <input  type="text">
            <i class="fas fa-search"></i>
        </form>
        <button class="search-button">
            <i class="fas fa-bars"></i>
        </button>

        <div class="links">
            <ul>
                <a href="/productos"><li>Shop</li></a>
                <a href="/categorias"><li>Categorias</li></a>
                <a href="/nosotros"><li>Nosotros</li></a>
                <a href="/usuarios/registro"><li>Registrarse</li></a>
                <a href="/usuarios/iniciar-sesion"><li>Iniciar Sesión</li></a>
                <a href="/carrito"><li><i class="fas fa-shopping-cart"></i></li></a>
            </ul>
        </div>
    </div>
</header>