<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login-register-product.css"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Login</title>
</head>

<body>
  <header>
    <div >
        <img class="logo" src="/images/GameZoneLogo.svg" alt="">
    </div>
    <div class="right-header">
        <form class="search-bars" action="">
            <input  type="text">
            <i class="fas fa-search"></i>
        </form>
        
        <button class="search-button">
            <i class="fas fa-bars"></i>
        </button>

        <div class="links">
            <ul>
                <a href=""><li>Shop</li></a>
                <a href=""><li>Categorias</li></a>
                <a href=""><li>Nosotros</li></a>
                <a href=""><li>Registrarse</li></a>
                <a href=""><li>Iniciar Sesión</li></a>
            </ul>
        </div>
    </div>
</header>
<!--      --------------------------                    REGISTER FORM                -------------------------------                  //-->

<div class="container">

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
	        <h4 class="card-title mt-3 text-center">Ingresar</h4>
	        <p class="d-flex">
		        <a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Continuar con Google</a>
		        <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>  Continuar con Facebook</a>
	        </p>
	        <p class="divider-text">
                <span class="bg-light">O</span>
            </p>
	        <form>
<!-- form-group// -->
                <div class="form-group input-group">
    	            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-envelope"></i></span>
                    </div>
                    <input name="" class="form-control" placeholder="Correo Electronico" type="email" >
                </input>
                </div> 
<!-- form-group// -->
                
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Ingresar contraseña" type="password">
                </div> 
<!-- form-group// -->       
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Ingresar  </button>
                </div> 
<!-- form-group// -->      
                <p class="text-center">¿Olvido su contraseña? <a href="">Click aqui</a></p>                                                                 
            </form>
        </article>
    </div>
</div> 

<!--FOOTER//-->

<footer class="main-footer text-center">
    <div class="container-xl p-3">
      <div class="row justify-content-center">

        <!--Grid column-->
        <div class="col-lg-3 col-md-3 mb-3 mb-md-0">
          <h5 class="text-uppercase">Categoria</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="btn text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-3 mb-3 mb-md-0">
            <h5 class="text-uppercase">Categoria</h5>
  
            <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="btn text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-3 mb-3 mb-md-0">
          <h5 class="text-uppercase">Categoria</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="btn text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
    </div>
    <!-- Grid container -->

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
    </div>
  </footer>

</body>
</html>