<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %> 

<body>

  <%- include('./partials/header.ejs')  %> 

<!--REGISTER FORM//-->

<div class="container">

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
	        <h4 class="card-title mt-3 text-center">Crear Nueva Cuenta</h4>
	        <p class="d-flex">
		        <a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Continuar con Google</a>
		        <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Continuar con Facebook</a>
	        </p>
	        <p class="divider-text">
                <span class="bg-light">O</span>
            </p>
	        <form>
	            <div class="form-group input-group">
		            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-user "></i></span>
		            </div>
                    <input name="" class="form-control" placeholder="Nombre Completo" type="text">
                </div> 
<!-- form-group// -->
                <div class="form-group input-group">
    	            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-envelope"></i></span>
                    </div>
                    <input name="" class="form-control" placeholder="Correo Electronico" type="email" >
                </input>
                </div> 
<!-- form-group// -->
                <div class="form-group input-group">
    	            <div class="input-group-prepend">
		                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		            </div>
    	            <input name="" class="form-control" placeholder="Telefono" type="text">
                </div> 
<!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Crear contraseña" type="password">
                </div> 
<!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="Repetir contraseña" type="password">
                </div> 
<!-- form-group// -->                                      
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Crear Cuenta  </button>
                </div> 
<!-- form-group// -->      
                <p class="text-center">¿Ya tiene una cuenta? <a href="">Ingresar</a></p>                                                                 
            </form>
        </article>
    </div>
</div> 

<!--FOOTER//-->

<%- include('./partials/footer.ejs')  %> 

</body>
</html>