
/* register styles */

.container{
    margin-top: 10px;
    margin-bottom: 20px;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
    box-shadow: 4px 4px 4px grey;
    margin-left: 5px;
}

.btn-google {
    background-color: gray;  
    box-shadow: 4px 4px 4px grey;
    color: #FFF;
    margin-right: 5px;
}

.btn:hover{
    box-shadow: 10px 5px 10px grey;
}

.form-group{
    margin-bottom: 5px;
}

/* footer styles */

.container-xl{
    background-color: #ebebeb;
    max-width: 1800px;
}

/* product list styles */


body {
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.product-card {
    border: none;
    border-radius: 10px;
    box-shadow: 2px 5px 5px grey
}

.img-container {
    position: relative
}

.img-container .first {
    position: absolute;
    width: 100%
}

.img-container img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.product-detail-container {
    padding: 10px
}
@media (min-width:540px){
    .col-md-3{
        max-width: 80vw;
        align-self: center;
    }
    .row{
        justify-content: space-around;
    }
}
