<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login-register-product.css"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Document</title>
</head>
<body>

    <header>
        <div >
            <img class="logo" src="/images/GameZoneLogo.svg" alt="">
        </div>
        <div class="right-header">
            <form class="search-bars" action="">
                <input  type="text">
                <i class="fas fa-search"></i>
            </form>
            
            <button class="search-button">
                <i class="fas fa-bars"></i>
            </button>

            <div class="links">
                <ul>
                    <a href=""><li>Shop</li></a>
                    <a href=""><li>Categorias</li></a>
                    <a href=""><li>Nosotros</li></a>
                    <a href=""><li>Registrarse</li></a>
                    <a href=""><li>Iniciar Sesión</li></a>
                </ul>
            </div>
        </div>
    </header>

<!--PRODUCT LIST//-->

<div class="container-fluid mt-3 mb-3">
    <div class="row g-2">
        <div class="col-md-3">
            <div class="product-card">
                <div class="img-container">
                    <div class="d-flex justify-content-between align-items-center p-2 first"> </div> <img src="/images/dummy_500x500_000000_bdd3f9_imagen-de-producto.png" class="img-fluid">
                </div>
                <div class="product-detail-container">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-0">Titulo del producto</h6> <span class="text-danger font-weight-bold">$99.99</span>
                    </div>
                    <article class="product-description mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, magni.</article>
                    <div class="mt-3 "> <button class="btn btn-secondary btn-block">Aniadir al Carro</button> </div>
                </div>
            </div>
        </div><div class="col-md-3">
            <div class="product-card">
                <div class="img-container">
                    <div class="d-flex justify-content-between align-items-center p-2 first"> </div> <img src="/images/dummy_500x500_000000_bdd3f9_imagen-de-producto.png" class="img-fluid">
                </div>
                <div class="product-detail-container">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-0">Titulo del producto</h6> <span class="text-danger font-weight-bold">$99.99</span>
                    </div>
                    <article class="product-description mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, magni.</article>
                    <div class="mt-3 "> <button class="btn btn-secondary btn-block">Aniadir al Carro</button> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="img-container">
                    <div class="d-flex justify-content-between align-items-center p-2 first"> </div> <img src="/images/dummy_500x500_000000_bdd3f9_imagen-de-producto.png" class="img-fluid">
                </div>
                <div class="product-detail-container">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-0">Titulo del producto</h6> <span class="text-danger font-weight-bold">$99.99</span>
                    </div>
                    <article class="product-description mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, magni.</article>
                    <div class="mt-3 "> <button class="btn btn-secondary btn-block">Aniadir al Carro</button> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="img-container">
                    <div class="d-flex justify-content-between align-items-center p-2 first"> </div> <img src="/images/dummy_500x500_000000_bdd3f9_imagen-de-producto.png" class="img-fluid">
                </div>
                <div class="product-detail-container">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-0">Titulo del producto</h6> <span class="text-danger font-weight-bold">$99.99</span>
                    </div>
                    <article class="product-description mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, magni.</article>
                    <div class="mt-3 "> <button class="btn btn-secondary btn-block">Aniadir al Carro</button> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="img-container">
                    <div class="d-flex justify-content-between align-items-center p-2 first"> </div> <img src="/images/dummy_500x500_000000_bdd3f9_imagen-de-producto.png" class="img-fluid">
                </div>
                <div class="product-detail-container">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-0">Titulo del producto</h6> <span class="text-danger font-weight-bold">$99.99</span>
                    </div>
                    <article class="product-description mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, magni.</article>
                    <div class="mt-3 "> <button class="btn btn-secondary btn-block">Aniadir al Carro</button> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="img-container">
                    <div class="d-flex justify-content-between align-items-center p-2 first"> </div> <img src="/images/dummy_500x500_000000_bdd3f9_imagen-de-producto.png" class="img-fluid">
                </div>
                <div class="product-detail-container">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-0">Titulo del producto</h6> <span class="text-danger font-weight-bold">$99.99</span>
                    </div>
                    <article class="product-description mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, magni.</article>
                    <div class="mt-3 "> <button class="btn btn-secondary btn-block">Aniadir al Carro</button> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="img-container">
                    <div class="d-flex justify-content-between align-items-center p-2 first"> </div> <img src="/images/dummy_500x500_000000_bdd3f9_imagen-de-producto.png" class="img-fluid">
                </div>
                <div class="product-detail-container">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-0">Titulo del producto</h6> <span class="text-danger font-weight-bold">$99.99</span>
                    </div>
                    <article class="product-description mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, magni.</article>
                    <div class="mt-3 "> <button class="btn btn-secondary btn-block">Aniadir al Carro</button> </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="product-card">
                <div class="img-container">
                    <div class="d-flex justify-content-between align-items-center p-2 first"> </div> <img src="/images/dummy_500x500_000000_bdd3f9_imagen-de-producto.png" class="img-fluid">
                </div>
                <div class="product-detail-container">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-0">Titulo del producto</h6> <span class="text-danger font-weight-bold">$99.99</span>
                    </div>
                    <article class="product-description mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, magni.</article>
                    <div class="mt-3 "> <button class="btn btn-secondary btn-block">Aniadir al Carro</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--FOOTER//-->

<footer class="main-footer text-center">
    <div class="container-xl p-3">
      <div class="row justify-content-center">

        <!--Grid column-->
        <div class="col-lg-3 col-md-3 mb-3 mb-md-0">
          <h5 class="text-uppercase">Categoria</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="btn text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-3 mb-3 mb-md-0">
            <h5 class="text-uppercase">Categoria</h5>
  
            <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="btn text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-3 mb-3 mb-md-0">
          <h5 class="text-uppercase">Categoria</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="btn text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="btn text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
    </div>
    <!-- Grid container -->

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
    </div>
  </footer>

</body>
</html>
