*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

.imagen-carrusel{
    width: 100%;
    height: auto;
}

.product-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;

}

.product-card:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.col-md-3{
    padding: 10px;
}

.img-container {
    position: relative;
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 18vw; height: auto;
}

.product-detail-container {
    padding: 10px;
    height: 16vw;
}

#name_price{
    font-size: 1.4rem;
}
@media (max-width:540px){
    .col-md-3{
        max-width: 80vw;
        align-self: center;
    }
    .row{
        justify-content: space-around;
    }
}

@media (max-width: 755px){
    .img-container img {
        width: 80vw; height: auto;
    }
    .product-detail-container {
        height: 30vw;
    }
}

@media (max-width: 1050px){
}