body {
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.imagen-carrusel{
    width: 100%;
}

.product-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    min-height: 70vh;
}

.product-card:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.img-container {
    position: relative;
    min-height: 50vh;
}

.img-container .first {
    position: absolute;
    width: 100%
}

.img-container img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

.product-detail-container {
    padding: 10px
}
@media (min-width:540px){
    .col-md-3{
        max-width: 80vw;
        align-self: center;
    }
    .row{
        justify-content: space-around;
    }
}
