*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

.imagen-carrusel{
    width: 100%;
    height: auto;
}

.product-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;

}

.product-card:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.col-md-3{
    padding: 10px;
}

.img-container {
    position: relative;
    display: flex;
    min-height: 50vh;
    max-height: 50vw;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 18vw; height: auto;
}

.product-detail-container {
    padding: 10px;

}

.product-detail-container article{
    display: block;
}

#name_price{
    font-size: 1.4rem;
}
@media (max-width:540px){
    .col-md-3{
        max-width: 80vw;
        align-self: center;
    }

    .product-detail-container {
        height: 38vw;
    }

    .row{
        justify-content: space-around;
    }
    .product-detail-container article{
        display: none;
    }
    .img-container img {
        width: 80vw; height: auto;
    }
    .img-container img {
        width: 50vw; height: auto;
    }
    .product-detail-container {
        font-size: 1rem;
        min-height: 15vw;
        height: fit-content;
    }
    #name_price, #name_price h5{
        font-size: 1.2rem;
    }
}

@media (min-width: 750px){
    .product-detail-container article{
        display: block;
    }
    .img-container img {
        width: 80vw; height: auto;
    }
    .img-container{
        min-height: 30vw;
    }
    .product-detail-container {
        font-size: 1rem;
        min-height: 30vw;
        height: fit-content;
    }
    #name_price, #name_price h5{
        font-size: 1rem;
    }
}

@media (min-width: 1000px){
    .img-container {
        min-height: 35vw;
    }
    .product-detail-container {
        min-height: 0;
    }
    .product-detail-container {
        font-size: 1rem;
    }
    #name_price, #name_price h5{
        font-size: 1.3rem;
        font-weight: 600;
    }
}

@media(min-width: 3000px){
    .product-detail-container{
        font-size: 3.5rem;
        padding: 25px;
    }
    #name_price, #name_price h5{
        font-size: 4rem;
    }
    .product-detail-container button{
        font-size: 2.5rem;
    }
}