<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>

    <main>
        <div class="container">
            <form action="/productos/crear" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-25">
                  <label for="fname">Nombre del producto</label>
                </div>
                <div class="col-75">
                  <input class="input-forms" type="text" id="name" name="name">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="price">Precio</label>
                </div>
                <div class="col-75">
                  <input class="input-forms" type="number" id="price" name="price">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="discount">Descuento</label>
                </div>
                <div class="col-75">
                  <input class="input-forms" type="number" id="discount" name="discount">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="category">Categoria</label>
                </div>
                <div class="col-75">
                  <select id="category" name="category">
                    <option value="visited">visitados</option>
                    <option value="In-sale">En oferta</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="Descripcion">Imagen del producto</label>
                </div>
                <div class="col-75">
                    <input type="file" id="file" name="image">
                </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="Descripcion">Descripcion del producto</label>
                </div>
                <div class="col-75">
                  <textarea id="Descripcion" name="Descripcion" style="height:200px"></textarea>
                </div>
              </div>
              <div class="p-1 ">
                <button class="btn btn-primary w-100 p-2" type="submit">Crear</button>
            </div>
            </form>
          </div>  
    </main>

    <%- include('../partials/footer')%> 
</body>
</html>