<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')  %> 
<body>
    <!--header//-->
    <%- include('../partials/header.ejs')  %> 
    
    <main>
        <div class="product-conteiner">
            <h2 class="product-title">Nombre del producto</h2>
            <div class="product-detail">
                <section>
                    <img src="/images/products/mouse.jpg" alt="">
                </section>
                <article>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, officiis! Neque deleniti cupiditate nobis modi corporis. Maxime, eveniet? Nemo veritatis quisquam deserunt facere. Autem tenetur in dicta veritatis incidunt error!
                </article>
            </div>
            <h2>Nombre del producto</h2>
            <section>
                <h5>$99.99</h5> 
                <h5>88%</h5>
            </section>
            <h2>$950.00</h2>
            <p>Paga en X cuotas sin interes</p>
            <p>Retiro gratis en los locales del vendedor</p>

            <div class="button-buy">
                <button></button>

            </div>

        </div>
    </main>

    <!--fotter//-->
    <%- include('../partials/footer.ejs')  %> 

</body>
</html>